#version: "3.9"

services:
  ollama:
    build:
      context: ./docker/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    volumes:
      - ./docker/grafana/provisioning:/etc/grafana/provisioning
    ports:
      - '3000:3000'
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring

  api:
    build: .
    ports:
      - "8080:8080"
    networks:
      - monitoring
    depends_on:
      - ollama
      - prometheus
      - grafana

networks:
  monitoring:
    driver: bridge

volumes:
  ollama_data:
