#version: "3.9"

services:
  ollama:
    build:
      context: ./docker/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - ollama

volumes:
  ollama_data:
